@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-family: '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'メイリオ',  Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  
  letter-spacing: .1rem;
  
  color: #330000;
  background-color: #ffffff;
}

.header-image {
  background-image: url("../images/img_header.jpg");
  height: 500px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
  .header-image {
    height: 250px;
  }
}
  

.text-center {
  text-align: center;
}

#content {
  padding: 60px 0;
  background-color: #eee8aa;
}

h1 {
  font-size: 23px;
  padding: 30px;
}


.container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.content-box {
    width: 30%;
    margin: 20px auto;
    background-color: #ffffff;
}

@media (max-width: 768px) {
  .content-box {
  width: 90%;
　margin: 10px auto;
  }
}

.content-box h2 {
  font-size: 25px;
  background-color: #fafad2;
  padding: 20px;
}

.content-box p {
  margin: 20px;
}

#shoplink {
  padding: 30px 0;
  background-color: #EEDED4;
}

.button-shoplink {
  display: inline-block;
  line-height: 50%;
  
  font-size: 100%;
  text-decoration: none;
  
  width: 100px;
  padding: 10px;
  
  text-align: center;
  
  color: #ffffff;
  background-color: #ff8c00;
  
  -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
            border-radius: 4px;
}

@media (min-width: 1025px) {
  #shoplink a:hover {
    color: #ffa500;
    background-color: #f5deb3;
  }
}